header{
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.logo i{
    color: green;
}

.logo span{
    font-size: 2rem;
}
.menu li{
    margin: 0 0.5rem;
}
.menu li::after{
    content: '';
    width: 0;
    background-color: green;
    height: 2px;
    display: block;
    transition: all 0.5s;
}
.menu li.active::after{
    width: 100%;
}
.menu li:hover::after{
    width: 100%;
}
.nav-item .active, .menu li:hover a {
    color: green !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.carousel-control-next{
    width: 5%;
}
/* Carousel */
.carousel__caption{
    top: 50%;
    transform: translateY(-50%);
}
.carousel-item:nth-child(1){
    background-image: url('../img/finland.jpg');
}
.carousel-item:nth-child(2){
    background-image: url('../img/mountains.jpg');   
}   
.carousel-item:nth-child(3){
    background-image: url('../img/mountains-1.jpg');   
}
.carousel-item{
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.carousel__thumb img{
    border-radius: 50%;
    width: 100%;
}
.carousel__thumb{
    width: 140px;
    margin: 0 auto;
}

